body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#social #container {
  text-align: center;
}

#social #container ul {
  float: left;
}

#social #container ul li {
  float: left;
  padding-left: 10px;
  list-style-type: none;
}
